@keyframes scroll {
   0% {
      transform: translateY(-100%);
   }

   100% {
      transform: translateY(0%);
   }
}

.animate-scrolling {
   height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.animate-scrolling .animate-img {
   width: 120%;
   animation: scroll 15s linear infinite;
}

@keyframes slideRight {
   0% {
     transform: translateX(0%);
   }
   100% {
     transform: translateX(-100%);
   }
 }
 
 .shine{
   display: flex;
   overflow: hidden;
 }
 
 .animate-slide-infinite {
   animation: slideRight 13s linear infinite;
   flex-shrink:0;
   transition: all;
   
 }


 @keyframes slideRightText {
   0% {
         transform: translateX(0%);
      }

   
      100% {
         transform: translateX(-100%);
      }
 }

 .shineText {
    display: flex;
    overflow: hidden;
   transition: all;
   
 }

 .animate-slide-infiniteText {
    animation: slideRightText 6s linear infinite;
    flex-shrink: 0;
 }